@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://cdn4.vectorstock.com/i/1000x1000/75/13/group-friends-chatting-online-video-call-vector-30727513.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
